<% if (!user) { %>
    <h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.identifier %>.</h2>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      var socket = io.connect('http://triggerrefresh.alexkey.c9.io');

      socket.on('refresh', function(data) {
          console.log("refresh");
      });
      
      $(document).ready(function() {
        $("#refresh").on("click", function(event) {
            socket.emit("refresh");
        });
    
      });
    </script>
    
    <button id="refresh">refresh</button>

    
<% } %>